@font-face {
  font-family: "Calibre-Medium";
  src: url("./fonts/CalibreWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "Calibre-Semibold";
  src: url("./fonts/calibre-semibold-webfont.woff") format("woff");
}

.infoBody {
  margin-top: 72px;
  width: 100%;
  background-color: whitesmoke;
}

.box {
  padding: 0 40px 40px;
  background-color: white;
}

.titleName {
  font: 36px/44px "Calibre-Medium";
  letter-spacing: 0.086em;
  text-transform: uppercase;
  padding-top: 20px;
}

.desc {
  color: #656666;
  font: 15px/24px "Calibre-Regular";
  letter-spacing: 0.013em;
  margin: 0;
  padding: 2px 0 0;
}

.basicDetails {
  color: #656666;
  border-bottom: 1px #656666 solid;
  color: #656666;
  text-decoration: none;
  font: 15px/24px "Calibre-Regular";
}

.divider {
  border-bottom: 1px #656666 solid;
  border-top: 1px #656666 solid;
  height: 2px;
  margin: 23px 0 17px;
}
.test {
  border: 2px white;
  border-radius: 16px;
  height: 32px;
  margin-top: -16px;
  margin-left: 83.3%;
}

.cell {
  display: inline-block;
  border-right: 1px #d0d2d3 solid;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 960px) {
  .layoutrow> .flex-gt-sm-66 
    -webkit-box-flex: 1;
  -webkit-flex: 1 1 66.66%;
  flex: 1 1 66.66%;
  max-width: 66.66%;
  max-height: 100%;
  box-sizing: border-box;
}

.layoutRow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-top: 1px #656666 solid;
}

.sectionHeading {
  color: #656666;
  font: 16px/24px "Calibre-Semibold";
  letter-spacing: 0.086em;
  text-transform: uppercase;
}

.placeRating {
  display: flex;
  height: 60px;
  text-align: center;
  width: 400px;
  padding-bottom: 10px;
  border-bottom: 1px #d0d2d3 solid;
}

.ratings {
  display: inline-block;
  padding-bottom: 2px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font: 36px/44px "Calibre-Medium";
  letter-spacing: 0.086em;
  text-transform: uppercase;
}

.labelScore {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0.061em;
  line-height: 18px;
  text-transform: uppercase;
}

.zgtRightSeparator {
  border-right: 1px #d0d2d3 solid;
  display: flex;
}

.bodyLarge {
  font-size: 22px;
  letter-spacing: 0.004em;
  line-height: 32px;
}

.knownImages {
  display: inline-block;
  height: 72px;
  margin: 5px 10px 5px;
  width: 100px;
}

.known {
  display: inline-block;
  justify-content: flex-start;
  width: 750px;
}

.knownKeywords {
  display: inline-block;
  padding-left: 10px;
  width: 110px;
  text-align: center;
  color: #101820;
  font: 15px/20px "Calibre-Regular";
  letter-spacing: 0.013em;
}

.knownCell {
  max-width: 120px;
  min-width: 120px;
  display: inline-block;
  overflow: hidden;
  background-color: black;
}

.knownCell:hover {
  transform: scale(1.01);
  opacity: 0.8;
}

.knownDesc {
  display: inline-block;
  width: 350px;
}

.knownWords {
  display: inline-flex;
  align-items: center;
  color: #101820;
  font: 19px/23px "Calibre-Medium";
  letter-spacing: 0.013em;
  align-items: center;
  height: 76px;
  max-width: 216px;
  padding: 22px 14px;
  position: absolute;
}
.mentionsBox:hover {
  cursor: -webkit-grabbing;
  text-decoration: underline red;
}

.knownWords:hover {
  text-decoration: underline red;
}
@media (min-width: 960px) .known-desc {
  background-repeat: no-repeat;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-size 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-position 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
}

.buttonBox {
  color: #b70038;
  cursor: pointer;
  font: 16px/24px "Calibre-Medium";
  letter-spacing: 0.086em;
  background: white;
  padding-bottom: 20px;
}

.knownButton {
  display: inline-block;
  margin-left: 340px;
  padding-top: 3px;
  text-transform: uppercase;
  background: none;
  border: 2px solid #b70038;
  height: 30px;
  width: 20%;
  text-align: center;
}

.knownButton:hover {
  background: #b70038;
  color: white;
}
