@font-face {
  font-family: 'Calibre-Medium';
  src: url('./fonts/CalibreWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Calibre-Semibold';
  src: url('./fonts/calibre-semibold-webfont.woff') format('woff');
}

body {
  width: 900px;
  background-color: whitesmoke;
}

.box {
    padding: 0 40px 40px;
    background-color: white;
}

.title-name {
  font: 36px/44px 'Calibre-Medium';
  letter-spacing: .086em;
  text-transform: uppercase;
}

.desc {
  color: #656666;
  font: 15px/24px 'Calibre-Regular';
  letter-spacing: .013em;
  margin: 0;
  padding: 2px 0 0;
}

.zgt-place-sheet-basic-details {
  color: #656666;
  border-bottom: 1px #656666 solid;
  color: #656666;
  text-decoration: none;
}


.divider {
  border-bottom: 1px #656666 solid;
  border-top: 1px #656666 solid;
  height: 2px;
  margin: 23px 0 17px;
}
.test {
  border: 2px white;
  border-radius: 16px;
  height: 32px;
  margin-top: -16px;
  margin-left: 83.3%
}

.cell {
  display: inline-block;
  border-right: 1px #d0d2d3 solid;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;


}
  
@media (min-width: 960px) {
.layout-row > .flex-gt-sm-66 
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 66.66%;
    flex: 1 1 66.66%;
    max-width: 66.66%;
    max-height: 100%;
    box-sizing: border-box;
}

.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-top: 1px #656666 solid;
}

.section-heading {
  color: #656666;
  font: 16px/24px 'Calibre-Semibold';
  letter-spacing: .086em;
  text-transform: uppercase;
}

.zgt-place-sheet-zagat-rating {
  display: flex;
  height: 60px;
  text-align: center;
  width: 300px;
  padding-bottom: 10px;
  border-bottom: 1px #d0d2d3 solid;
}

.zgt-place-sheet-zagat-rating-value {
  display: inline-block;
  padding-bottom: 2px;
  font: 36px/44px 'Calibre-Medium';
  letter-spacing: .086em;
  text-transform: uppercase;
}

.label-score {
  display: inline-block;
  font-size: 13px;
  letter-spacing: .061em;
  line-height: 18px;
  text-transform: uppercase;
}

.zgt-right-separator {
  border-right: 1px #d0d2d3 solid;
  display: flex
}

.body-large {
  font-size: 22px;
  letter-spacing: .004em;
  line-height: 32px;
}

.known-images {
  display:  inline-block;
  height: 72px;
  margin: 8px 10px 0;
  width: 100px
  
  
}

.known {
  display: inline-block;
  justify-content: flex-start;
  width: 400px;
}

.known-keywords {
  display: inline-block;
  margin: 8px 10px 0;
  width: 100px;
  text-align: center;
  color: #101820;
  font: 15px/20px 'Calibre-Regular';
  letter-spacing: .013em;
}